/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  padding: 20px 0;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.2);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
    font-weight: 700;
  }
}


.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-weight: 400;
    @include relative-font-size(0.9);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 26px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9);
  color: $grey-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @include media-query($on-palm) {
      flex-direction: column;
      align-items: start;
      gap: 20px;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  font-weight: 700;
  @include relative-font-size(1.5);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin: 0;
}

.post-link {
  display: block;
  width: fit-content;
  @include relative-font-size(1.3);
}



/**
 * Posts
 */
.post-header {
  margin: 0;
}

.post-title {
  @include relative-font-size(1.6);
  font-weight: 700;
  line-height: 1;
}

// Main image
.post-image {
  max-height: 350px;
  width: 100%;
  object-fit: cover;

    &-caption {
      color: $grey-color;
      text-align: center;
      margin-top: 1rem; 
    }

    &-wrapper {
      margin-bottom: 40px;
    }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-weight: 700;
  }

  h2 {
    margin: 2rem 0rem 1rem;
    font-weight: 600;
    @include relative-font-size(1.3);
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  // Post images that are not the main one
  img {
    width: 100%;
  }
  // Portfolio technologies font size
  strong {
    @include relative-font-size(0.9);
  }
}

/**
 * Resume
 */
.resume {
    &-section-title {
        font-size: $base-font-size;
        font-weight: bold;
        text-decoration: underline;
    }
    
    &-grey-text {
        color: #999999;
    }
    
    &-margin-bottom {
        margin-bottom: 20px;
    }
    
    section {
        margin-bottom: 40px;
    }
    
    strong {
        font-weight: bold;
    }
}